:host {
  display: block;
  width: 80%;
  height: 80%;
  margin: 2rem auto;
}

.divider {
  display: flex;
  gap: 1rem;
}

.divider div {
  flex: 1;
}

app-users-component {
  padding: 0.1rem;
}

.btn {
  display: flex;
  justify-content: flex-end;
}
