:host {
  width: 50%;
  display: flex;
  justify-content: center;
}

mat-card {
  display: block;
  padding: 1rem;
  width: 100%;
  margin-top: 1rem;
}

form {
  display: block;
  margin: auto;
  width: 90%;
}

mat-form-field {
  width: 100%;
}

button {
  align-self: flex-start;
  margin: 1rem;
}

.remember {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.remember p:hover,
.remember p:active {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}
