<div class="dashboard-container">
  <h2 class="title">👑 Super Admin Dashboard</h2>

  <!-- Admins -->
  <section>
    <h3>Admins</h3>
    <div class="card-grid">
      @for (admin of admins(); track admin._id) {
      <mat-card class="user-card">
        <mat-card-header>
          <div mat-card-avatar class="user-avatar">
            <img
              src="https://i.pravatar.cc/150?u={{ admin.adminDataId._id }}"
              alt="{{ admin.adminDataId.name }}"
            />
          </div>
          <mat-card-title>{{ admin.adminDataId.name }}</mat-card-title>
          <mat-card-subtitle>{{ admin.adminDataId.username }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Role:</strong> {{ admin.adminDataId.role }}</p>

          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Privilege Super Admin</mat-label>
            <mat-select [(ngModel)]="admin.previlegeSuperAdmin">
              <mat-option [value]="true">True</mat-option>
              <mat-option [value]="false">False</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </section>

  <!-- Reviewers -->
  <section>
    <h3>Reviewers</h3>
    <div class="card-grid">
      @for (reviewer of reviewers(); track reviewer._id) {
      <mat-card class="user-card">
        <mat-card-header>
          <div mat-card-avatar class="user-avatar">
            <img
              src="https://i.pravatar.cc/150?u={{ reviewer.reviewerDataId._id }}"
              alt="{{ reviewer.reviewerDataId.name }}"
            />
          </div>
          <mat-card-title>{{ reviewer.reviewerDataId.name }}</mat-card-title>
          <mat-card-subtitle>{{ reviewer.reviewerDataId.username }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Role:</strong> {{ reviewer.reviewerDataId.role }}</p>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </section>
</div>

<!-- Employees -->
<section>
  <h3>Employees</h3>
  <div class="card-grid">
    @for (emp of employees(); track emp._id) {
    <mat-card class="user-card">
      <mat-card-header>
        <div mat-card-avatar class="user-avatar">
          <img src="https://i.pravatar.cc/150?u={{ emp.user._id }}" alt="{{ emp.user.name }}" />
        </div>
        <mat-card-title>{{ emp.user.name }}</mat-card-title>
        <mat-card-subtitle>{{ emp.user.username }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Role:</strong> {{ emp.user.role }}</p>
      </mat-card-content>
    </mat-card>
    }
  </div>
</section>
