:host {
  width: 50%;
  display: flex;
  justify-content: center;
}

mat-card {
  display: block;
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-top: 1rem;
}

form {
  display: block;
  margin: auto;
  width: 90%;
}

.namem,
.passcon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

mat-form-field {
  width: 100%;
}

button {
  align-self: flex-start;
  margin: 0.5rem;
}
